.card {
    border-radius: 2px;
    height: auto;
    width: auto;
    padding: 1em;
    position: relative;
    margin: 1em;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  }
  
  .card > .img-container {
    overflow: hidden;
    text-align: center;
  }