body {
    /* background-image: url(/.../images/background.jpg); */
    background-size: auto;
    background-color: #ebffe6;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
  }